 /* welcom section */


 .welcome-section{
    background-color: bisque;
    display: inline-block;
    width: 100%;
 } 
 #logo{
    width: 250px;
 }
 .navbar{
  display: flex;
  text-align: right;
  background-color: blue;
 }
ul{
 list-style: none;
 text-align: right;
 background-color: brown;
 float: right;

}
a{
    text-decoration: none;

}
li{
    display: inline;
    text-align: right;
}




